---

import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <div class="w-full  px-10 pt-2 pb-10">
        <div class="relative bg-white mb-32 max-w-sm mx-auto mt-24">
            <div class="rounded overflow-hidden shadow-md">
                <div class="absolute -mt-20 w-full flex justify-center">
                    <div class="h-32 w-32">
                        <img
                            src="/img/logo.jpg"
                            class="rounded-full object-cover h-full w-full shadow-md"
                        />
                    </div>
                </div>
                <div class="px-6 mt-16 pb-10">
                    <h1
                        class="text-green-400 font-bold text-3xl text-center mb-1"
                    >
                        Dot Dager
                    </h1>
                    <p class="text-gray-800 text-sm text-center">
                        Desarrollador Web
                    </p>
                    <p
                        class="text-gray-600 text-justify pt-3 font-normal"
                    >
                        Soy un desarrollador senior con una sólida
                        trayectoria en el mundo de la programación,
                        especializado en desarrollo full-stack. Su experiencia
                        abarca más de siete años en la industria, donde ha
                        trabajado tanto en consultoras como en instituciones
                        educativas de Estados Unidos. Dot no solo se destaca por
                        su habilidad técnica, sino también por su capacidad para
                        liderar equipos, lo que le ha permitido abordar
                        proyectos complejos y colaborar estrechamente con
                        clientes para entender sus necesidades. <br><br><span class="text-lg text-green-400 border-b border-green-400 hover:text-green-500 font-bold">Intereses
                            Personales</span><br> <span class="text-lg font-bold">Filosofía</span>: Dot tiene una profunda inclinación
                        hacia la filosofía, lo que le permite abordar problemas
                        técnicos desde una perspectiva crítica y analítica. Su
                        interés en esta disciplina no solo enriquece su vida
                        personal, sino que también influye en su enfoque
                        profesional, promoviendo un pensamiento reflexivo y
                        estratégico en el desarrollo de software. <br><br><span class="text-lg font-bold">Música y
                            Guitarras</span><br> La música es otra de sus pasiones. Dot
                        disfruta tocar la guitarra, lo que le proporciona una
                        vía de escape creativa y un medio para expresar su
                        personalidad. Esta afición también refleja su aprecio
                        por la creatividad y la innovación, habilidades que son
                        esenciales en el campo del desarrollo de software. <br><br><span class="text-lg font-bold"> Gatos</span><br> Los gatos son parte importante de su vida
                        personal. Dot valora la compañía de estos animales, que
                        simbolizan independencia y curiosidad, características
                        que él mismo aplica en su trabajo diario. Su amor por
                        los gatos puede ser visto como un reflejo de su
                        personalidad: observador, curioso y a menudo
                        introspectivo. <br><br><span class="text-lg font-bold">Pepinos</span><br> Aunque puede parecer un detalle
                        trivial, su gusto por los pepinos muestra un lado
                        divertido y ligero de Dot. Este interés puede ser una
                        metáfora de su enfoque fresco y saludable hacia la vida
                        y el trabajo, manteniendo siempre un equilibrio entre lo
                        profesional y lo personal.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</Layout>
