---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Github from "../icons/github.astro";
import Tlf from "../icons/tlf.astro";

---

<Layout title="Portafolio.">
	<main class="w-full mx-auto lg:w-[740px] px-4 py-44">
		<section>
			<h1 id="inicio" class="flex flex-col text-white text-3xl md:text-4xl max-w-[500px] lg:text-5xl font-bold">
				<span class="opacity-80 hover:border-b hover:cursor-pointer hover:border-green-500 hover:scale-110">Yohendri Becerra <span class="text-green-400">Full-stack developer</span></span>
			</h1>
			
			<div class="flex">
				<div class="flex justify-center gap-x-4 rounded-full mt-2">
				<a class="border border-white rounded-full p-2 hover:scale-110 transition-all duration-100 bg-white/5" href="https://github.com/yohendriabb" target="_blank"><span><Github /></span></a>
				<a class="border border-white rounded-full p-2 hover:scale-110 transition-all duration-100 bg-white/5" href="https://wa.me/4127562103" target="_blank"><span><Tlf /></span></a>
			</div>
			</div>
		</section>
		<section id="tecnologias" class="bg-gray-100  hover:opacity-90 hover:scale-105 transition-all duration-100 p-8 rounded-lg shadow-md mt-10">
			<h2 class="text-2xl font-bold mb-4 text-green-500">Tecnologías</h2>
			<p class="mb-6 text-gray-600">
				Me apasiona explorar nuevas tecnologías y tendencias en el diseño y desarrollo web. 
				Aquí hay algunas áreas que me interesan:
			</p>
			<ul class="list-disc list-inside space-y-2 text-gray-700">
				<li>Python</li>
				<li>Django</li>
				<li>JavaScript</li>
				<li>Vue.js</li>
				<li>Astro.js</li>
			</ul>
		</section>
		<section id="experience" class="bg-gray-100  hover:opacity-90 hover:scale-105 transition-all duration-100 p-8 rounded-lg shadow-md mt-10">
			<h2 class="text-2xl font-bold mb-4 text-green-500">Experiencias</h2>
			<p class="mb-6 text-gray-600">
				Me apasiona explorar nuevas tecnologías y tendencias en el diseño y desarrollo web. 
				Aquí hay algunas áreas que me interesan:
			</p>
			<ul class="list-disc list-inside space-y-2 text-gray-700">
				<li>Desarrollo Frontend</li>
				<li>Desarrollado Backend</li>
			</ul>
		</section>

		<section id="projects" class="bg-gray-100  hover:opacity-90 hover:scale-105 transition-all duration-100 p-8 rounded-lg shadow-md mt-10">
			<h2 class="text-2xl font-bold mb-4 text-green-500">Página Web Fullstack desarrollada en Vue.js  y Django, Django-restframework</h2>
			<p class="text-black">Usuario: user@gmail.com</p>
			<p class="text-black">Contraseña: usuario123</p>
			<p class="text-black">Rol: Superuser</p>
			<a href="https://reserves-frontend.vercel.app/" target="_blank"><img src="/img/appointment.PNG" alt="Youtube" class="w-full h-auto"></a>
		</section>
		<section id="projects" class="bg-gray-100  hover:opacity-90 hover:scale-105 transition-all duration-100 p-8 rounded-lg shadow-md mt-10">
			<h2 class="text-2xl font-bold mb-4 text-green-500">Ecommerce, Desarrollado en Astro.</h2>
			<a href="https://minimalist-ecommerce-rho.vercel.app/products" target="_blank"><img src="/img/ecommerce.PNG" alt="Youtube" class="w-full h-auto"></a>
		</section>

	</main>

	<section class="flex justify-end">
		<a class="bg-green-500 text-white rounded-md hover:bg-green-600 transition-all duration-100" href="#inicio"><img src="/img/pickle.png" alt="Inicio" class="w-24 h-20"></a>
	</section>
</Layout>
