---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Facebook from "../icons/facebook.astro";
import Instagram from "../icons/instagram.astro";
import Tiktok from "../icons/tiktok.astro";
import Youtube from "../icons/youtube.astro";
import Discord from "../icons/discord.astro";
import Github from "../icons/github.astro";
import Twitter from "../icons/twitter.astro";
import Spotify from "../icons/spotify.astro";
---

<Layout title="Portafolio.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="flex flex-col text-white text-5xl  font-bold  pb-4">
				<span class="text-green-400">Full-stack senior</span><span>contador serial de chistes de mierda, y <span class="opacity-80 hover:border-b hover:cursor-pointer hover:border-green-500 hover:scale-110">Creador de contenido</span></span>
			</h1>
			
			<div class="flex">
				<div class="flex justify-center gap-x-4 rounded-full mt-2">
				<a class="border border-white rounded-full p-2 hover:scale-110 transition-all duration-100 bg-white/5" href="https://www.instagram.com/dager.32" target="_blank"><span><Instagram /></span></a>
				<a class="border border-white rounded-full p-2 hover:scale-110 transition-all duration-100 bg-white/5" href="https://www.tiktok.com/@elantrodedager" target="_blank"><span><Tiktok /></span></a>
				<a class="border border-white rounded-full p-2 hover:scale-110 transition-all duration-100 bg-white/5" href="https://www.youtube.com/@elantrodedager" target="_blank"><span><Youtube /></span></a>
				<a class="border border-white rounded-full p-2 hover:scale-110 transition-all duration-100 bg-white/5" href="https://discord.com/invite/4NFk6TamAB" target="_blank"><span><Discord /></span></a>
				<a class="border border-white rounded-full p-2 hover:scale-110 transition-all duration-100 bg-white/5" href="https://github.com/MarianoVilla" target="_blank"><span><Github /></span></a>
				<a class="border border-white rounded-full p-2 hover:scale-110 transition-all duration-100 bg-white/5" href="https://x.com/Dager_32" target="_blank"><span><Twitter /></span></a>
				<a class="border border-white rounded-full p-2 hover:scale-110 transition-all duration-100 bg-white/5" href="https://open.spotify.com/intl-es/artist/6bkClBMJd4qKxJp0J5vHsz?nd=1" target="_blank"><span><Spotify /></span></a>
			</div>

			
			</div>
		</section>
	</main>
</Layout>
