<footer class="text-white flex justify-center py-4 px-4">
    <div class="container text-center">
        <p>&copy; 2024 Yohendri Becerra. Todos los derechos reservados.</p>
       
    </div>
</footer>