
<header class="flex justify-between  items-center py-3 w-[1120px]">
        <a href="/">
            <img src="/img/pickle.png" alt="logo" class="w-[150px] ml-40 rounded-full mt-3">
        </a>
    <nav class="flex  flex-wrap gap-10 opacity-80">
       <a href="/">Home</a>
       <a href="/about">About</a>
       
    </nav>
</header>